.music-list-box{
    /* background: #fff; */
    padding: 20px;
}
.music-list-header{
    height: 64px;
}
.list-item-bg{
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 20px;
    box-sizing: border-box;
}